#form{
    border: solid 1px;
    width: 60%;
    padding: 30px;
margin: 0 auto;
border-radius: 60px 40px 60px 40px;



}

/* 
#input{
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px;

}
#button{
    padding: 6px 12px;
    background-color: blue;
    border: 5px;
    border-radius: 5px;
} */